.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(135, 130, 130);
  box-shadow: 5px 2px 5px #000;
  height: 50px;
}

.link{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 8px;
  font-weight: 700;
  -webkit-text-stroke: 0.8px #000;
  text-transform: uppercase;
  text-shadow: 3px 3px #000;
}

.link:hover{
  color: #000;
  -webkit-text-stroke: 0.8px #fff;
  text-shadow: 3px 3px #fff;
  transform: scale(1.2);
}

